.about {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px 60px;
  background: linear-gradient(-45deg, #f3ebf4, #e1f1f8, #eaf2ea);
  background-size: 400% 400%;
  animation: gradientBG 50s ease infinite;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .top {
    h1 {
      font-size: 25px;
      text-align: center;
      font-weight: 400;
      color: #333;
    }

    p {
      line-height: 1.8;
      font-size: 16px;
      color: #555;
      white-space: pre-line;
    }
  }
  .center {
    h1 {
      font-size: 25px;
      font-weight: 400;
      text-align: center;
      color: #333;
    }

    p {
      line-height: 1.8;
      font-size: 16px;
      color: #555;
      white-space: pre-line;
    }
  }
  .bottom {
    h1 {
      font-size: 25px;
      font-weight: 400;
      text-align: center;
      color: #333;
    }

    p {
      line-height: 1.8;
      font-size: 16px;
      color: #555;
      white-space: pre-line;
    }
  }

  hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
}
